<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Tareas</h1>
        <h3 class="mb-3">Eduardo Hernández Hernández</h3>
        <h3 class="mb-3">20210681</h3>
        <h3 class="mb-3">9No-B Tics</h3>
        <form id="taskForm" class="mb-3">
            <div class="form-group">
                <label for="taskInput">Nueva Tarea:</label>
                <input type="text" id="taskInput" name="taskInput" class="form-control">
            </div>
            <button type="button" onclick="addTask()" class="btn btn-primary">Agregar Tarea</button>
        </form>
        <h2>Tareas:</h2>
        <ul id="taskList" class="list-group">
        </ul>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function addTask() {
            var taskInput = document.getElementById("taskInput").value;
            fetch('/tasks', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ task: taskInput })
            })
            .then(response => response.text())
            .then(data => {
                alert(data);
                updateTaskList();
            });
        }

        function deleteTask(index) {
            fetch(`/tasks/${index}`, {
                method: 'DELETE'
            })
            .then(response => response.text())
            .then(data => {
                alert(data);
                updateTaskList();
            });
        }

        function updateTaskList() {
            fetch('/tasks')
            .then(response => response.json())
            .then(tasks => {
                var taskList = document.getElementById("taskList");
                taskList.innerHTML = "";
                tasks.forEach((task, index) => {
                    var listItem = document.createElement("li");
                    listItem.textContent = task;
                    listItem.className = "list-group-item";
                    var deleteButton = document.createElement("button");
                    deleteButton.textContent = "Eliminar";
                    deleteButton.className = "btn btn-danger float-right";
                    deleteButton.onclick = function() {
                        deleteTask(index);
                    };
                    listItem.appendChild(deleteButton);
                    taskList.appendChild(listItem);
                });
            });
        }

        updateTaskList();
    </script>
</body>
</html>
